<!doctype html>
<html>
<head>
<title>Covid-19-Detector</title>
<style>
body {
background-color: powderblue;

}

</style>
</head>
<body>
    <h1><u><p style="text-align:center;">GAYATRI VIDYA PARISHAD COLLEGE OF DEGREE AND P.G.COURSES</p></u></h1>
<h2><p style="text-align:center;">(Department of Computer Science Engineering)</p></h2>
<h1><u><p style="text-align:center;">EFFICIENT AUTOMATED CORONA VIRUS DIAGNOSIS BASED ON SYMPTOMS AND IMAGE PROCESSING USING MACHINE LEANING MODELS</p></u></h1>
<h2><u><p style="text-align:center;">COVID-19 DETECTION</p></u></h2> 
<h3><p style="text-align:center;">SCANS</p></h3>
<p> <div class = "circle">

      </div>
</p>

<br>


<h2><p style="text-align:center;">UPLOAD C.T.Scan image</h2>
</p>
<form method="post" action="/predicter" enctype="multipart/form-data">
    <dl>
<p style="text-align:center;">
<input type="file" name="file" autocomplete="off" required>
</p>
    </dl>
    <p style="text-align:center;">
<input type="submit" value="Submit">
    </p>
</form>

</body>
<html>